h3{
    background-color: antiquewhite;
    font-size: 90px;
}
.primero{
    background-color: black;
    color: aqua;
}
.segundo{
    background-color: crimson;
    color: antiquewhite;
}
#tercertitulo {
    background-color: blueviolet;
    color: bisque;
}
*{
    box-sizing: border-box;
    /*box-sizing: content-box; ESTE es el que se usa por default*/
    padding: 0;
    margin: 0;
}
a[href$=".com"]{/* signo $ indica que lo que sigue es lo que hay en comun entre los anchor*/
    color: darkorange;
}
.caja{
    background-color: darkblue;
    width: 200px; /* Si se usa '%', es segun el porcentaje del contenedor(el padre, main)*/
    height: 200px; /* estos se mantendrian 'fijos*/
    border: 10px solid rgba(233, 32, 32, 0.925); /* pude ser: solid, dotted, dashed, etc*/
    padding: 20px 50px 40px 90px;
    margin: 80px 10px;
    /*box-sizing: border-box; /*con esto, se incluye a border y padding a todo el alto y ancho del contenedor. Se lo suele especificar en el selector global*/
    border-radius: 50%;
    box-shadow: 20px 20px 30px blue;/*comportamiento similar al text shadow*/
    opacity: 0.2;/*se aplica sobre TODO*/
}
/*
.caja__interna{
    background-color: burlywood;
    width: 70%; /*70% de caja, contenedor padre*/
    /*height: 70%;
}*/
.caja__interna{
    background-color: burlywood;
    width: 70vw; /*70% de la vista de pagina*/
    height: 70vh;
}

.caja__doble{
    font-size: 2em;
    color: chartreuse;
    /*opacity: 0.2;*/
    font-family: 'Shalimar', cursive;/*aparecen varios, en caso de no tener compatibilidad con las fuentes*/
    font-weight: 700;/*Para hacer negritas*/
    line-height: 20px;/*puede modificar la altura de la caja*/
    /*overflow: hidden; /*cuando algo se excede de su contenedor, no se muestra*/
    text-decoration: underline;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(40, 184, 152, 0.568);
}
p{
    font-size: 20px; /*lo anterior permanece igual, ya que depende del valor por defecto*/
}
body{
    font-size: 40px;/*1em=40px*/
}
a{
    text-decoration: none; /*Sacamos el subrayado por defecto de los enlaces*/
}